<template>
	<v-app>
		<v-content>
			<v-toolbar dark color="info">
				<v-toolbar-title class="white--text">Administration</v-toolbar-title>
				<v-spacer></v-spacer>
    			<a href="#" @click="logout" style="color:#FFF">Logout</a>
    		</v-toolbar>

    		<v-container v-if="options">
    			<v-card>
    				<v-card-text>
    					<v-form ref="form" v-model="valid">
	    					<v-layout row wrap>
	    						<v-flex xs12 sm12 md12 lg12 xl12>
	    							<h1>Edit Options</h1>
	    						</v-flex>

	    						<v-flex xs12 sm12 md3 lg3 xl3>
	    							<v-text-field v-if="options.calories.suggested" name="suggested" id="suggested" v-model="options.calories.suggested" label="Suggested daily calories" :rules="requiredRule"></v-text-field>
	    						</v-flex>

	    						<v-flex xs12 sm12 md12 lg12 xl12 class="text-xs-right">
	    							<v-btn color="info" @click="update" :disabled="!valid">Apply</v-btn>
	    						</v-flex>
	    					</v-layout>
	    				</v-form>
    				</v-card-text>
    			</v-card>
    		</v-container>
		</v-content>
	</v-app>
</template>

<script>
	export default {
		data() {
			return {
				options: null,
				valid: false,
				requiredRule: [ (v) => !!v || 'Required', ],
			}
		},
		methods: {
			getUsername() {
				axios
				.get('/api/user')
				.then(response => {
					if (!response.data.username)
						window.location.replace('/login')
				});
			},
			getOptions() {
				axios
				.get('/api/options/index')
				.then(response => ( this.options = response.data ))
			},
			update() {
				axios
				.put('/api/options/update', this.options)
			},
		},
		mounted() {
			this.getOptions()
			this.getUsername()
			setInterval(() => (this.getUsername()), 60000) // Auto redirect to login if session expires/invalidates
		},
	}
</script>