<template>
	<v-app>
		<v-toolbar dark color="info">
			<v-toolbar-title class="white--text">Kalories</v-toolbar-title>
		</v-toolbar>
		<v-container>
			<v-card>
				<v-layout row wrap>

					<v-flex xs12 sm12 md6 lg6 xl6>
						<v-card-title><h2>Login</h2></v-card-title>
						<v-card-text px5>
							<v-form ref="form" v-model="loginValid">
								<v-text-field name="username" id="loginUsername" label="Username" v-model="usernameLogin" :rules="usernameRule" min="8"></v-text-field>
								<v-text-field name="password" id="loginPassword" label="Password" v-model="passwordLogin" :rules="passwordRule" min="8" max="16" :append-icon="o1 ? 'visibility' : 'visibility_off'" :append-icon-cb="() => (o1 = !o1)" :type="o1 ? 'password' : 'text'"></v-text-field>
								<v-btn color="info" @click="login()" :disabled="!loginValid">Login</v-btn>
								<errors :array="loginErrors"></errors>
							</v-form>
						</v-card-text>
					</v-flex>

					<v-flex xs12 sm12 md6 lg6 xl6>
						<v-card-title><h2>Register</h2></v-card-title>
						<v-card-text px5>
							<v-form ref="form" v-model="registerValid">
								<v-text-field name="username" id="registerUsername" label="Username" v-model="usernameRegister" :rules="usernameRule" min="8"></v-text-field>
								<v-text-field name="password" id="registerPassword" label="Password" v-model="passwordRegister" :rules="passwordRule" min="8" max="16" :append-icon="o2 ? 'visibility' : 'visibility_off'" :append-icon-cb="() => (o2 = !o2)" :type="o2 ? 'password' : 'text'"></v-text-field>
								<v-text-field name="password_repeat" id="registerPasswordRepeat" label="Password" v-model="passwordRepeatRegister" :rules="passwordRepeatRule" min="8" max="16" :append-icon="o3 ? 'visibility' : 'visibility_off'" :append-icon-cb="() => (o3 = !o3)" :type="o3 ? 'password' : 'text'"></v-text-field>
								<v-btn color="info" @click="register()" :disabled="!registerValid">Register</v-btn>
								<errors :array="registrationErrors"></errors>
							</v-form>
						</v-card-text>
					</v-flex>
				</v-layout>
			</v-card>
		</v-container>
	</v-app>
</template>

<script>
	import errors from '../components/errors'
	export default {
		data() {
			return {
				usernameLogin: '',
				passwordLogin: '',

				usernameRegister: '',
				passwordRegister: '',
				passwordRepeatRegister: '',

				loginValid: false,
				registerValid: false,

				loginErrors: [],
				registrationErrors: [],
				o1: true,
				o2: true,
				o3: true,

				usernameRule: [ (v) => v.length >= 3 || 'At least 3 characters'],
				passwordRule: [ (v) => (v.length >= 8 && v.length <= 16) || 'Between 8 and 16 characters'],
				passwordRepeatRule: [
					(v) => (v.length >= 8 && v.length <= 16) || 'Between 8 and 16 characters',
					(v) => this.passwordRegister === this.passwordRepeatRegister || 'Passwords do no match',
				],
			}
		},
		methods: {
			login(credentials) {
				this.loginErrors = []
				if (!credentials)
					credentials = { username: this.usernameLogin, password: this.passwordLogin }
				console.log(credentials)
				axios.post('/api/login', credentials).then(response => {
					if (response.data.errors) {
						this.loginErrors = response.data.errors
					} else {
						this.redirectToDashboard()
					}
				})
			},
			register() {
				this.registrationErrors = [];
				axios.post('/api/register', { username: this.usernameRegister, password: this.passwordRegister }).then(response => {
					if (response.data.errors) {
						this.registrationErrors = response.data.errors
					} else {
						this.login({ username: this.usernameRegister, password: this.passwordRegister }).then(response => { this.redirectToDashboard() })
					}
				})
			},
			redirectToDashboard() {
				window.location.replace('/dashboard')
			},
		},
		beforeCreate() {
			axios.get('/api/user').then(response => {
				if (response.data.username) this.redirectToDashboard();
			})
		},
		components: { errors }
	}
</script>