<template>
	<v-app>
		<v-content>
			<v-toolbar dark color="info">
				<v-toolbar-title class="white--text">Hello, {{ username }}</v-toolbar-title>
    			<v-spacer></v-spacer>
    			<a href="#" @click="logout" style="color:#FFF">Logout</a>
    		</v-toolbar>

    		<v-container>

    			<data-table :columns="tableColumns" :items="meals" @requireEdit="prepareEdit" @requireDestroy="destroy"></data-table>

    			<br />

    			<v-layout row wrap>
    				<v-flex xs12 sm12 md6 lg6 xl6 class="text-xs-left">
    					<p v-if="options.calories">
    						Today's calories: <span :style="'color:' + caloriesColor()">{{ todayCalories }}</span> -- Suggested: {{ options.calories.suggested }}
    					</p>
    				</v-flex>
    				<v-flex xs12 sm12 md6 lg6 xl6 class="text-xs-right">
    					<v-btn color="info" @click="toggleDialog">New meal</v-btn>
    				</v-flex>
    			</v-layout>

    			<meal-filter @filter="applyFilter" @removeFilter="discardFilter"></meal-filter>

    			<meal-dialog :status="dialog" :selected="selected" @toggled="toggleDialog" @aborted="abort" @created="create" @updated="update"></meal-dialog>
    			
    		</v-container>
		</v-content>
	</v-app>
</template>

<script>
	import dataTable from '../components/data-table'
	import mealDialog from '../components/meal-dialog'
	import mealFilter from '../components/filter'
	export default {
		data() {
			return {
				username: '',
				meals: [],
				tableColumns: [
					{ name: 'id', align: 'center', text: 'ID', value: 'id' },
	                { name: 'text', align: 'center', text: 'Text', value: 'text' },
	                { name: 'date', align: 'center', text: 'Date', value: 'date' },
	                { name: 'time', align: 'center', text: 'Time', value: 'time' },
	                { name: 'calories', align: 'center', text: 'Calories', value: 'calories' },
				],
				options: {},
				todayCalories: 0,

				dialog: false,
				selected: {},
			}
		},
		methods: {
			getUsername() {
				axios
				.get('/api/user')
				.then(response => {
					if (response.data.username)
						this.username = response.data.username
					else
						window.location.replace('/login')
				});
			},
			getMeals() {
				axios
				.get('/api/meals/index')
				.then(response => {
					this.prepareMeals(response.data)
					this.getTodayCalories();
				})
			},
			prepareMeals(meals) {
				this.meals = []
				var length = meals.length;
				for (var i = 0; i < length; i++) {
					var datetime = new Date(meals[i]['datetime']['timestamp'] * 1000)
					meals[i]['date'] = datetime.toString('yyyy-MM-dd')
					meals[i]['time'] = datetime.toString('HH:mm')
					this.meals.push(meals[i])
				}
			},
			getOptions() {
				axios
				.get('/api/options/index')
				.then(response => ( this.options = response.data ))
			},
			getTodayCalories() {
				this.todayCalories = 0;
				var length = this.meals.length;
				var today = new Date().toString('yyyy-MM-dd')
				for (var i = 0; i < length; i++) {
					if (this.meals[i]['date'] == today)
						this.todayCalories += parseFloat(this.meals[i]['calories'])
				}
			},
			caloriesColor() {
				return (this.todayCalories < this.options.calories.suggested) ? 'red' : 'green'
			},
			logout() {
				axios
				.post('/api/logout')
				.then(window.location.replace('/login'))
			},
			toggleDialog() {
				this.dialog = !this.dialog
			},
			prepareEdit(item) {
				console.log(item)
				this.selected = item
				this.toggleDialog()
			},
			refresh() {
				this.getMeals()
			},
			create(item) {
				axios
				.put('/api/meals/store', { date: item.date, time: item.time, text: item.text, calories: item.calories })
				.then(response => ( this.getMeals() ))
			},
			update(item) {
				axios
				.patch('/api/meals/update/' + item.id, { date: item.date, time: item.time, text: item.text, calories: item.calories })
				.then(response => ( this.getMeals() ))
			},
			destroy(id) {
				axios
				.delete('/api/meals/delete/' + id)
				.then(response => ( this.getMeals() ));
			},
			abort() {
				this.selected = {}
			},
			applyFilter(filter) {
				axios
				.post('/api/meals/filter', { from: filter.from, to: filter.to })
				.then(response => ( this.prepareMeals(response.data) ))
			},
			discardFilter() {
				this.getMeals()
			},
		},
		mounted() {
			this.getUsername()
			this.getOptions()
			this.getMeals()
			setInterval(() => (this.getUsername()), 60000) // Auto redirect to login if session expires/invalidates
		},
		components: { dataTable, mealDialog, mealFilter }
	}
</script>