<template>
	<v-layout row wrap v-bind="binding">
		<v-data-table v-bind:headers="columns" v-bind:items="cloned_items" select-all v-bind:pagination.sync="pagination" item-key="id" class="elevation-1" rows-per-page-text="Rows" style="width:100%">
	        <template slot="headers" slot-scope="props">
	            <tr>
	                <th v-for="header in props.headers" :key="header.text" :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']" @click="changeSort(header.value)">
	                    <v-icon>arrow_upward</v-icon> {{ header.text }}
	                </th>
	                <th>Action</th>
	            </tr>
	        </template>

	        <template slot="items" slot-scope="props">
	        	<tr class="text-xs-center">
	        		<td v-for="header in columns" v-html="props.item[header.name]"></td>
	        		<td>
	                    <v-btn icon class="mx-0" @click="editItem(props.item)">
	                    	<v-icon color="teal">edit</v-icon>
	                    </v-btn>
          				<v-btn icon class="mx-0" @click="deleteItem(props.item.id)">
          					<v-icon color="pink">delete</v-icon>
          				</v-btn>
	                </td>
	        	</tr>
	        </template>
	    </v-data-table>
	</v-layout>
</template>

<script>
	export default {
		props: ['columns', 'items'],
		data() {
			return {
                pagination: { sortBy: 'id', descending: true },
                cloned_items: this.items
			}
		},
		computed: {
            binding () {
                const binding = {}
                if (this.$vuetify.breakpoint.smAndDown) binding.column = true
                return binding
            },
            pages () {
                return this.pagination.rowsPerPage ? Math.ceil(this.cloned_items.length / this.pagination.rowsPerPage) : 0
            },
        },
		methods: {
			changeSort (column) {
                if (this.pagination.sortBy === column) {
                    this.pagination.descending = !this.pagination.descending;
                } else {
                    this.pagination.sortBy = column;
                    this.pagination.descending = false;
                }
            },
            deleteItem(id) {
            	this.$emit('requireDestroy', id);
            },
            editItem(item) {
            	this.$emit('requireEdit', item);
            }
		},
		watch: {
			items: {
				deep: true,
				handler: function() {
					this.cloned_items = this.items
					this.$forceUpdate();
				}
			}
		}
	}
</script>