<template>
	<div>
		<ul v-if="array.length">
			<li v-for="error in array" style="list-style-type:none; color:red"><span>{{ error }}</span></li>
		</ul>
	</div>
</template>

<script>
	export default {
		props: ['array']
	}
</script>