<template>
	<v-form v-model="valid" ref="form">
		<v-layout row wrap>
			<v-flex xs12 sm12 md12 lg12 xl12>
				<h3 class="text-xs-center">Filter</h3>
			</v-flex>
			<v-flex xs12 sm12 md3 lg3 xl3 px-2>
				<v-text-field name="from_date" id="fromDate" mask="####-##-##" v-model="fromDate" label="From date (yyyy-mm-dd)" :rules="dateRule" return-masked-value></v-text-field>
			</v-flex>
			<v-flex xs12 sm12 md3 lg3 xl3 px-2>
				<v-text-field name="from_date" id="fromTime" mask="##:##" v-model="fromTime" label="From time (hh:mm)" :rules="timeRule" return-masked-value></v-text-field>
			</v-flex>
			<v-flex xs12 sm12 md3 lg3 xl3 px-2>
				<v-text-field name="from_date" id="toDate" mask="####-##-##" v-model="toDate" label="To date (yyyy-mm-dd)" :rules="dateRule" return-masked-value></v-text-field>
			</v-flex>
			<v-flex xs12 sm12 md3 lg3 xl3 px-2>
				<v-text-field name="from_date" id="toTime" mask="##:##" v-model="toTime" label="To time (hh:mm)" :rules="timeRule" return-masked-value></v-text-field>
			</v-flex>
			<v-flex xs12 sm12 md12 lg12 xl12 class="text-xs-center">
				<v-btn color="info" @click="filter" :disabled="!valid">Apply</v-btn>
				<v-btn color="error" @click="unfilter">Discard filter</v-btn>
			</v-flex>
		</v-layout>
	</v-form>
</template>

<script>
	export default {
		data() {
			return {
				fromDate: null,
				fromTime: null,
				toDate: null,
				toTime: null,
				dateRule: [ (v) => (v && /([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))/.test(v)) || 'Invalid date' ],
				timeRule: [ (v) => (v && /^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$/.test(v)) || 'Invalid time' ],

				valid: false,
			}
		},
		methods: {
			filter() {
				this.$emit('filter', { from: this.fromDate + ' ' + this.toTime + ':00', to: this.toDate + ' ' + this.toTime + ':00' })
			},
			unfilter() {
				this.$refs.form.reset()
				this.$emit('removeFilter')
			},
		}
	}
</script>