<template>
	<v-dialog v-model="status" width="900" persistent>
		<v-card>
			<v-card-title>
				<h2>{{ (id != null) ? 'Edit meal: ' + id : 'New Meal' }}</h2>
			</v-card-title>

			<v-card-text>
				<v-form v-model="valid" ref="form">
					<v-layout row wrap>
						<v-flex xs12 sm12 md4 lg4 xl4 px-2>
							<v-text-field name="date" id="date" v-model="date" mask="####-##-##" return-masked-value label="Date (yyyy-mm-dd)" :rules="dateRule"></v-text-field>
						</v-flex>
						<v-flex xs12 sm12 md4 lg4 xl4 px-2>
							<v-text-field name="time" id="time" v-model="time" mask="##:##" return-masked-value label="Time (hh:mm)" :rules="timeRule"></v-text-field>
						</v-flex>
						<v-flex xs12 sm12 md4 lg4 xl4 px-2>
							<v-text-field name="calories" id="calories" v-model="calories" label="Calories" :rules="floatRule"></v-text-field>
						</v-flex>
						<v-flex xs12 sm12 md12 lg12 xl12 px-2>
							<v-text-field name="text" id="text" v-model="text" label="Text" :rules="requiredRule"></v-text-field>
						</v-flex>
						<v-flex xs12 sm12 md12 lg12 xl12 class="text-xs-right">
							<v-btn color="error" flat @click="close">Undo</v-btn>
							<v-btn color="info" flat @click="save" :disabled="!valid">{{ (id != null) ? 'Edit meal' : 'New Meal' }}</v-btn>
						</v-flex>
					</v-layout>
				</v-form>
			</v-card-text>
		</v-card>
	</v-dialog>
</template>

<script>
	export default {
		props: ['status', 'selected'],
		data() {
			return {
				id: null,
				text: null,
				date: null,
				time: null,
				calories: null,

				valid: false,

				dateRule: [ (v) => (v && /([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))/.test(v)) || 'Invalid date'],
				timeRule: [ (v) => (v && /^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$/.test(v)) || 'Invalid time' ],
				requiredRule: [ (v) => !!v || 'Required' ],
				floatRule: [
					(v) => !!v || 'Required',
					(v) => !!(!v || (v.split(".").length - 1) <= 1) || "Invalid amount"
				],
			}
		},
		methods: {
			toggle() {
				this.$emit('toggled')
			},
			close() {
				this.reset()
				this.$emit('aborted')
				this.toggle()
			},
			reset() {
				this.id = null
				this.$refs.form.reset()
			},
			save() {
				if (!this.id)
					this.$emit('created', { date: this.date, time: this.time, text: this.text, calories: this.calories })
				else
					this.$emit('updated', { id: this.id, date: this.date, time: this.time, text: this.text, calories: this.calories })
				this.close();
			},
		},
		watch: {
			selected() {
				this.id = this.selected.id
				this.text = this.selected.text
				this.date = this.selected.date
				this.time = this.selected.time
				this.calories = this.selected.calories
			}
		}
	}
</script>