<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Kalories</title>
        <meta name="_csrf_token" content="{{ csrf_token('authenticate') }}" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
        <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
        <div id="app">
            {{ tag|raw }}
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>
